/* Brand logos */
.home_branding .swiper-pagination.swiper-pagination-clickable {
    margin-top: 20px !important;
    position: relative;
}

/* Service Section Start */
#services_container_wraper>.elementor-container.elementor-column-gap-default {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	column-gap:10px;
}
/* Responsive for Tab */
@media only screen and (min-width:768px){
#services_container_wraper>.elementor-container.elementor-column-gap-default {
    grid-template-columns: repeat(2, 1fr);
}
}
/* Responsive for desktop */
@media only screen and (min-width:992px){
#services_container_wraper>.elementor-container.elementor-column-gap-default {
    grid-template-columns: repeat(3, 1fr);
}
}
#services_container_wraper .elementor-inner-column {
    width: 100% !important;
} 
.service_container{
	cursor:pointer;
}
.service_container img{
    transition: transform 0.3s;
}
.service_container:hover img {
    transform: scale(1.2);
    transition: transform 0.3s;
	overflow:hidden;
}
.service_over_img{
	overflow:hidden;
}
.service_container:hover .top_title .elementor-button {
    background: var(--e-global-color-primary) !important;
	color:white !important;
}
.service_container:hover .service_btn .elementor-button {
	color:var(--e-global-color-primary) !important;
	fill: var(--e-global-color-primary) !important;
}

/* Service Section End */

/* Rank math bradcode */
nav.rank-math-breadcrumb p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'inter';
    transition: all 0.3s;
}

nav.rank-math-breadcrumb p a {
    color: black;
    font-weight: 700;
    font-family: 'inter';
    transition: all 0.3s;
}
nav.rank-math-breadcrumb p a:hover{
    color: var(--e-global-color-primary);
}
nav.rank-math-breadcrumb p .separator {
    color: var(--e-global-color-primary);
    /* color: black; */
    padding: 0 10px;
}

/* Hero slider arrow color  */
.Hero_section .elementor-swiper-button {
    background: var(--e-global-color-primary);
    padding: 6px;
}


